<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>idk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>

  {% block bar %}
  {% include 'top_bar.html' %}
  {% endblock %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
          {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h1 style="text-align: center;">
    Add movie to your list
</h1>
  <form action="/postadd" method="POST">
    <div class="form-group">
        <input class="form-control" type="text" name="userrating" placeholder="Your Rating">
    </div>
    <div class="form-group">
        <textarea name="review" rows="8" cols="77">Review</textarea>
      </div>

      <input type = "hidden" name = "title" value = "{{ row[0] }}" >
      <input type = "hidden" name = "year" value = "{{ row[1] }}" >
      <input type = "hidden" name = "directors" value = "{{ row[2] }}" >
      <input type = "hidden" name = "genres" value = "{{ row[3] }}" >
      <input type = "hidden" name = "actor" value = "{{ row[4] }}" >
      <input type = "hidden" name = "role" value = "{{ row[5] }}" >
      <input type = "hidden" name = "rating" value = "{{ row[6] }}" >
      <input type = "hidden" name = "url" value = "{{ row[7] }}" >
      <input type = "hidden" name = "id" value = "{{ row[8] }}" >


      <button type = "submit" class="btn btn-md btn-success btn-block">Submit!</button>
    </form>
  </body>
</html>
