<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Group</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body style="background-color:rgb(180, 180, 255);">

  {% block bar %}
  {% include 'top_bar.html' %}
  {% endblock %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
          {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}

    <h1 style="text-align: center;">
      Matching Users Based On Liked Movies
    </h1>
    <div class="container">
      <table border = 2>
      <thead>
      <td>Users</td>
      <td>Movie</td>
      </thead>
      
    {% for row in mNrows %}
      <tr>
        <td>{{ row[0]}}</td>
        <td>{{ row[1]}}</td>
      </tr>
    
    {% endfor %}
      </table>
      </div>


        <h1 style="text-align: center;">
          The Following Users Enjoy Your Favorite Genre, {{userGenre}}
        </h1>
        <div class="container">
          <table border = 2>
          <thead>
          <td>Users</td>
          <td>Genre</td>
          </thead>
          
        {% for row in Genrows %}
          <tr>
            <td>{{ row[0]}}</td>
            <td>{{ row[1]}}</td>
          </tr>
        
        {% endfor %}
          </table>
          </div>


  </body>
</html>
