<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>idk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body style="background-color:rgb(180, 180, 255);">

  {% block bar %}
  {% include 'top_bar.html' %}
  {% endblock %}

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
          {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}

  <h1 style="text-align: center;">
   {{ name }}
</h1>

<h>UserID: {{name}}</h><br>
<h>Favorite Genre of User: {{favoritegenre}}</h><br>
<h>First Name: {{firstname}}</h> <a class="nav-link" href="/FUP">Change First Name</a><br>
<h>Last Name: {{lastname}}</h><a class="nav-link" href="/LUP">Change Last Name</a><br>
<a class="nav-link" href="/PUP">Change Password</a><br>
  </body>
</html>
