<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>idk</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>

    {% block header %}
    {% include 'top_bar.html' %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
          {{ message }}
      {% endfor %}
    {% endif %}
  {% endwith %}


    <div class="row">

    	<div style="width: 30%; margin: 25px auto;">

        <h1 style="text-align: center;">
      		Register
      	</h1>
    	<form action="/postregister" method="POST">
    		<div class="form-group">
    			<input class="form-control" type="text" name="username" placeholder="Username">
            </div>

          <div class="form-group">
            <input class="form-control" type="text" name="email" placeholder="Email Address">
             </div>

        <div class="form-group">
        <input class="form-control" type="text" name="fname" placeholder="First Name">
        </div>

        <div class="form-group">
    			<input class="form-control" type="text" name="lname" placeholder="Last Name">
        </div>
        
        <div class="form-group">
    			<input class="form-control" type="text" name="location" placeholder="Location">
        </div>
      

    		<div class="form-group">
    			<input class="form-control" type="password" name="password" placeholder="Password">
    		</div>

        <div class="form-group">
    			<input class="form-control" type="password" name="cpassword" placeholder="Confirm Password">
        </div>

    		<div class="form-group">
    		<button class="btn btn-lg btn-primary btn-block">Submit!</button>
            </div>
    	</form>

        <p>Already a member? </p><a href="/login">Sign In</a>
    	</div>

    </div>
 
  </body>
</html>
